<table class="seed-calendar">
    <thead>
        <tr>
        {% for i in months %}
            <th>{{ i }}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% include "hortadb/calendar-line.html" with class="seed-calendar-sowi" start_date=seed.date_sowi_ini end_date=seed.date_sowi_end %}
        {% include "hortadb/calendar-line.html" with class="seed-calendar-sowo" start_date=seed.date_sowo_ini end_date=seed.date_sowo_end %}
        {% include "hortadb/calendar-line.html" with class="seed-calendar-tran" start_date=seed.date_tran_ini end_date=seed.date_tran_end %}
        {% include "hortadb/calendar-line.html" with class="seed-calendar-harv" start_date=seed.date_harv_ini end_date=seed.date_harv_end %}
    </tbody>
</table>