{% extends 'hortadb/base.html' %} {% load static %}

{% block title %}
    Species: {{ species.common_name }}
{% endblock %}

{% block content %}
<h1>{{ species.common_name }} </h1>
<hr>

<div class="row">
    <div class="col-9">
        <p>Texto</p>
    </div>

    <div class="col-3">
        <div class="card text-center mb-3">
            <h5 class="card-header"><i><strong>{{ species.species }}</i></strong></h5>
            <div class="card-body">
                <h5 class="card-title">{{ species.common_name }}</h5>
                <p class="card-text">Genus: {{ species.genus }} </p>
                <p class="card-text">Family: {{ species.family }}</p>
                <p class="card-text">Order: {{ species.order }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if species.cultivar_set %}
    <table class="table table-bordered">
        <tr>
            <th>Common name</th>
            <th>Life cycle</th>
            <th>Calendar</th>
            <th>Origin</th>
        </tr>
        {% for c in species.cultivar_set.all %}
        <tr>
            <td><a href="{% url 'hortadb:cultivar' c.id %}">{{ c.variety }}</a></td>
            <td>{{ c.get_life_cycle_display }}</td>
            <td style="width: 1%">
            {% with seed=c.seed_set.first %}
                {% include "hortadb/calendar.html" with seed=seed%}
            {% endwith %}
            </td>

            <td> lalalla</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No species are available.</p>
    {% endif %}
</div>
{% endblock %}
