{% extends 'hortadb/base.html' %}

{% block button %}
    <a class="btn btn-primary" href="{% url 'hortadb:species_new' %}" role="button">Add species</a>
{% endblock %}

{% block content %}
    {% if species_list %}
        <table class="table">
            <tr>
                <th>Common name</th>
                <th>Species</th>
                <th>Genus</th>
                <th>Family</th>
                <th>Order</th>
            </tr>

            {% for s in species_list %}
            <tr>
                <td><a href="{% url 'hortadb:detail' s.id %}">{{ s.common_name }}</a></td>
                <td>{{ s.species }}</td>
                <td>{{ s.genus }}</td>
                <td>{{ s.family }}</td>
                <td>{{ s.order }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No species are available.</p>
    {% endif %}
{% endblock %}